.containerProfile {
    display: flex;
    /* Create exactly 2 equal-width columns */
    flex-direction: row;
    justify-content: space-around;
    gap: 16px; 
    padding-top: 100px;
    padding: 100px 40px 40px; /* top, left/right, bottom */
    height: 70vh;
  }

.leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.profilePic {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
}

.detailRow {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

.detail {
    margin-left: 10px;
}

.RightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
}

.editProfileButton {
    margin-top: 30px;
    width: 150px;
    background-color: #FAF58C    ;
}

.editProfileButton:hover {
    background-color: #fffdcf !important;
    color: black !important;
    border-color: rgb(223, 223, 223) !important;
}