.containerProfile {
    display: grid;
    /* Create exactly 2 equal-width columns */
    grid-template-columns: 1fr 1fr; 
    gap: 16px; 
    padding-top: 100px;
    padding: 100px 40px 40px; /* top, left/right, bottom */
  }

.leftSide {
    display: flex;
    justify-content: center;
}

.profilePic {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    object-fit: cover;
}